@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-stack: 'Inter', sans-serif;
$body-color: #3c162f;
$text-color: whitesmoke;

body {
  background-color: $body-color;
  color: $text-color;
  text-align: center;
  font-family: $font-stack;
}

#navBar-custom {
  background-color: #fbf6ff;
  color: whitesmoke;
}

.btn-edit,
.btn-delete {
  border: 1px solid black;
}

.btn-edit {
  background-color: lightyellow;
}

.btn-delete {
  background-color: lightcoral;
}

.btn-edit:hover {
  background-color: rgb(255, 211, 117);
}

.btn-delete:hover {
  background-color: red;
}

#form-display {
  width: 20%;
  margin: auto;
  justify-content: center;
  color: white;
}

#store {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#customCard {
  width: 18rem;
}

#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 33%;
  margin-top: 25px;
}

#card-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: end;
  gap: 7px;
  margin-top: 9px;
}

#add-term-btn {
  margin-top: 25px;
  border: 1px solid white;
  color: whitesmoke;
}

#add-term-btn:hover {
  background: whitesmoke;
  color: black;
}

#submit-entry-btn {
  margin-top: 25px;
  border: 1px solid transparent;
  color: rgb(21, 21, 21);
  background-color: rgb(203, 255, 203);
}
