@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(52, 52, 52);
  color: brown;
  text-align: center;
  // margin-top: 100px;
}

#form-display {
  width: 20%;
  margin: auto;
  justify-content: center;
  color: white;
}

#store {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 33.3333333%;
}

#customCard {
  width: 18rem;
}

#filter-buttons {
  margin-top: 25px;
  margin-left: 5%;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
}
