@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(52, 52, 52);
  color: brown;
  text-align: center;
  // margin-top: 100px;
}

#form-display {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: white;
}
